## *Describe do `statsmodels`*

In [12]:
import pandas as pd
from statsmodels.stats.descriptivestats import describe

In [13]:
data = pd.read_csv("data/air_quality_no2_long.txt")
data

,city,country,date.utc,location,parameter,value,unit
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³
...,...,...,...,...,...,...,...
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [14]:
data.describe()

             value
count  2068.000000
mean     26.261847
std      13.479451
min       0.000000
25%      17.000000
50%      25.000000
75%      33.000000
max      97.000000

In [15]:
describe(data)

                          value
nobs               2.068000e+03
missing            0.000000e+00
mean               2.626185e+01
std_err            6.518110e-03
upper_ci           2.627462e+01
lower_ci           2.624907e+01
std                1.347945e+01
iqr                1.600000e+01
iqr_normal         1.186082e+01
mad                1.012372e+01
mad_normal         1.268820e+01
coef_var           5.132712e-01
range              9.700000e+01
max                9.700000e+01
min                0.000000e+00
skew               1.055389e+00
kurtosis           5.249672e+00
jarque_bera        8.199968e+02
jarque_bera_pval  8.708904e-179
mode               2.600000e+01
mode_freq          3.191489e-02
median             2.500000e+01
1%                 1.000000e+00
5%                 8.000000e+00
10%                1.100000e+01
25%                1.700000e+01
50%                2.500000e+01
75%                3.300000e+01
90%                4.300000e+01
95%                5.113000e+01
99%                7.039800e+01